<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Palm Oil Counter</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header 
        ================================================== -->
        <header id="masthead" class="s-header">

            <div class="s-header__branding">
                <p class="site-title">
                    <a href="/about" rel="home">Palm Oil Counter.</a>
                </p>
            </div>

            <div class="row s-header__navigation">

                <nav class="s-header__nav-wrap">
    
                    <h3 class="s-header__nav-heading">Navigate to</h3>
    
                    <ul class="s-header__nav">
                        
                        
                        <li ><a href="about.html" title="">About</a></li>
                        <li><a href="/image" title="">Detection</a></li>
                        <!-- <li class="has-children">
                            <a href="#0" title="" class="">Detection</a>
                            <ul class="sub-menu">
                                <li><a href="/image">Image or Video</a></li>
                                <li><a href="/live_video">Live Video</a></li>
                                
                            </ul>
                        </li> -->
                        <li ><a href="/charts" title="">Charts</a></li>
                        <li class="current-menu-item"><a href="/performance" title="">Performance</a></li>
                        <li><a href="/logout" title="">LogOut</a></li>
                    </ul> <!-- end s-header__nav -->

                </nav> <!-- end s-header__nav-wrap -->
    
            </div> <!-- end s-header__navigation -->

            

            

        </header> <!-- end s-header -->


        <!-- # site-content
        ================================================== -->

        <!-- # site-content
        ================================================== -->
        <div id="content" class="s-content s-content--blog">

            <div class="row entry-wrap">
                <div class="column lg-12">

                    <article class="entry format-standard">

                        <header class="entry__header">

                            <h1 class="entry__title">
                                Performance charts of the Project.
                            </h1>

                            <div class="entry__meta">
                                <div class="entry__meta-author">
                                    
                                    <a href="">Precision</a>
                                     
                                </div>
                                <div class="entry__meta-author">
                                    
                                    <a href="">Recall</a>
                                     
                                </div>
                                <div class="entry__meta-author">
                                    
                                    <a href="">F1 Score</a>
                                     
                                </div>
                                <div class="entry__meta-author">
                                    
                                    <a href="">mAP</a>
                                     
                                </div>

                                
                            </div>
                        </header>

                        <div class="entry__media">
                            <figure class="featured-image">
                                <img src="../static/images/img/p12.jpg" 
                                  srcset="../static/images/img/p12.jpg 2400w, 
                                  ../static/images/img/p12.jpg 1200w, 
                                  ../static/images/img/p12.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                            </figure>
                        </div>

                        <div class="content-primary">

                            <div class="entry__content">
                                 

                                <p class="drop-cap">
                                l Below are the Graphs.
                                </p>
        
                                
                                <h2>Precision Curve</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/P_curve.png" 
                                      srcset="../static/images/performance/P_curve.png 2400w, 
                                      ../static/images/performance/P_curve.png 1200w, 
                                      ../static/images/performance/P_curve.png 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>
        
                               
        
                                
                                <hr>
                                <h2>Recall Curve</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/R_curve.png" 
                                      srcset="../static/images/performance/R_curve.png 2400w, 
                                      ../static/images/performance/R_curve.png 1200w, 
                                      ../static/images/performance/R_curve.png 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>
                                
                                <hr>
                                <h2>F1 Curve</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/F1_curve.png" 
                                      srcset="../static/images/performance/F1_curve.png 2400w, 
                                      ../static/images/performance/F1_curve.png 1200w, 
                                      ../static/images/performance/F1_curve.png 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>

                                <hr>
                                <h2>Precision_Recall Curve</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/PR_curve.png" 
                                      srcset="../static/images/performance/PR_curve.png 2400w, 
                                      ../static/images/performance/PR_curve.png 1200w, 
                                      ../static/images/performance/PR_curve.png 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>

                                <hr>
                                <h2>Results</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/results.png" 
                                      srcset="../static/images/performance/results.png 2400w, 
                                      ../static/images/performance/results.png 1200w, 
                                      ../static/images/performance/results.png 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>

                                <hr>
                                <h2>Labels</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/labels.jpg" 
                                      srcset="../static/images/performance/labels.jpg 2400w, 
                                      ../static/images/performance/labels.jpg 1200w, 
                                      ../static/images/performance/labels.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>
                               
                                <hr>
                                <h2>Labels_Correlogram</h2>
                                <figure class="featured-image">
                                    <img src="../static/images/performance/labels_correlogram.jpg" 
                                      srcset="../static/images/performance/labels_correlogram.jpg 2400w, 
                                      ../static/images/performance/labels_correlogram.jpg 1200w, 
                                      ../static/images/performance/labels_correlogram.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>
        
                                
        
                                
        
                                
        
                                
        
                                

                               

                            </div> <!-- end entry-content -->

                            

                        </div> <!-- end content-primary -->

                    </article> <!-- end entry -->

                   

                </div>
            </div> <!-- end entry-wrap -->
    </section> <!-- end s-content -->


        <!-- # site-footer
        ================================================== -->
        <footer id="colophon" class="s-footer">
            <div class="row s-footer__bottom">
                <div class="column lg-5 md-6 tab-12">
                    <div class="ss-copyright">
                        <span>© Copyright Palm Oil Counter</span>
                        <span>Design by <a href="#">Palm Oil Counter</a></span>
                    </div>
                </div>
            </div>
            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.25 10.25L12 4.75L6.75 10.25" />
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 19.25V5.75" />
                    </svg>
                </a>
            </div>
        </footer><!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>